@import '../../../css-config/mixins.scss';

.hero-banner {
  padding: 40px 0;
  position: relative;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  .content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
  .banner-img {
    position: relative;
    z-index: 9;
    width: 200px;
    margin-bottom: 20px;
  }
}
